.searchResult {
    display: flex;
    position: relative;
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}
.searchResult:hover {
    opacity: 0.8;
}

.searchResult > img {
    height: 200px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.searchResult_infoTop > p {
    margin-top: 10px;
    font-size: 13px;
    color: gray;
  }
  
.searchResult_infoBottom {
    display: flex;
    justify-content: space-between;
    
}


.searchResult_star {
    color: red;
}


.searchResult_stars {
    
    display: flex;
    align-items: center;
}

.searchResults_price > p {
    text-align: right;
  }

.searchResults_price {
    position: absolute;
    bottom: 10px;
    right: 30px;
}

